In [1]:

# 모듈 불러오기

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:

#현재 경로 확인

os.getcwd()

'c:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet_Before'

In [3]:
path = os.getcwd()

In [4]:

# C:\Users\USER\Dropbox\PC (2)\Desktop\e-class\[기본] 산학협력 프로젝트\서울과학기술대학교 송부 자료_221129\DataSet 의 file list 확인

file_list= os.listdir(path)

In [5]:

# 파일명 정규식으로 추출

file_list = [file for file in file_list if re.match(r'.*\.xlsx', file)]
file_list

['210923_170710_384g(80%)(25도) without 히터.xlsx',
 '210924_094830_432g(90%)(25도) without 히터.xlsx',
 '210927_122440_480g(100%)(25도) without 히터.xlsx',
 '210929_170610_288g(60%)(25도) without 히터.xlsx',
 '210929_204750_336g(70%)(25도) without 히터.xlsx']

In [6]:

# path변수를 사용하여 path경로에 있는 엑셀파일 첫번째 데이터 읽기

df = pd.read_excel('C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet_Before\\' + file_list[0])

In [7]:
# 컬럼명 전처리

def get_col_name(df):
    
    df_index = df[df.iloc[:,0] == 'Date'].index[0]
    # 컬럼명 정의
    df_col = df.iloc[:df_index+1].T
    df_col = df_col.fillna(method='ffill')

    # 0,1번 컬럼 null값 채우기
    df_col.iloc[0:2, 0:2]  = 'Series'

    # column 생성
    df_col['Index'] = df_col[1].str.cat(df_col[4], sep='_')
    col_list = list(df_col['Index'])

    # filename 컬럼명 추가
    col_list.append('filename')

    return col_list

col_name = get_col_name(df)
col_name

['Series_Date',
 'Series_Time',
 'lp1_MIN',
 'lp1_MAX',
 'hp1_MIN',
 'hp1_MAX',
 'hp2_MIN',
 'hp2_MAX',
 'comp in_MIN',
 'comp in_MAX',
 'comp out_MIN',
 'comp out_MAX',
 'cond in_MIN',
 'cond in_MAX',
 'cond out_MIN',
 'cond out_MAX',
 'Exp in_MIN',
 'Exp in_MAX',
 'Exp out_MIN',
 'Exp out_MAX',
 'evap in_MIN',
 'evap in_MAX',
 'evap out1_MIN',
 'evap out1_MAX',
 'evap out2_MIN',
 'evap out2_MAX',
 'sol out_MIN',
 'sol out_MAX',
 'inside temp_MIN',
 'inside temp_MAX',
 'center_MIN',
 'center_MAX',
 'outside temp_MIN',
 'outside temp_MAX',
 'eva air in temp_MIN',
 'eva air in temp_MAX',
 'eva air out temp_MIN',
 'eva air out temp_MAX',
 'cond air in temp_MIN',
 'cond air in temp_MAX',
 'cond air out temp_MIN',
 'cond air out temp_MAX',
 'filename']

In [8]:
len(col_name)

43

In [9]:

# 파일명 파일경로 추출

file_path = [os.path.join('C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet_Before', file) for file in file_list]
file_path

['C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet_Before\\210923_170710_384g(80%)(25도) without 히터.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet_Before\\210924_094830_432g(90%)(25도) without 히터.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet_Before\\210927_122440_480g(100%)(25도) without 히터.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet_Before\\210929_170610_288g(60%)(25도) without 히터.xlsx',
 'C:\\Users\\USER\\Dropbox\\PC (2)\\Desktop\\e-class\\[기본] 산학협력 프로젝트\\서울과학기술대학교 송부 자료_221129\\DataSet_Before\\210929_204750_336g(70%)(25도) without 히터.xlsx']

In [10]:
#file path에서 file name만 추출

file_name = [file.split('\\')[-1] for file in file_path]


#file path에서 file name만 추출

file_name

['210923_170710_384g(80%)(25도) without 히터.xlsx',
 '210924_094830_432g(90%)(25도) without 히터.xlsx',
 '210927_122440_480g(100%)(25도) without 히터.xlsx',
 '210929_170610_288g(60%)(25도) without 히터.xlsx',
 '210929_204750_336g(70%)(25도) without 히터.xlsx']

In [11]:
# 데이터셋 통합

df_total = pd.DataFrame(columns = get_col_name(df))

i = 0

for file in file_path:
    data = pd.read_excel(file).assign(filename = file_name[i])
    index = data[data.iloc[:,0] == 'Date'].index[0]
    data = data.iloc[index+1:]
    print(len(data.columns))

43
43
43
43
43

In [12]:

# 데이터셋 통합

df_total = pd.DataFrame(columns = get_col_name(df))

i = 0

for file in file_path:
    data = pd.read_excel(file).assign(filename = file_name[i])
    index = data[data.iloc[:,0] == 'Date'].index[0]
    data = data.iloc[index+1:]
    data.columns = col_name
    df_total = df_total.append(data, ignore_index=True)
    i += 1

In [13]:
df_total.shape

(18971, 43)

In [15]:
df_total['filename'].value_counts()

210927_122440_480g(100%)(25도) without 히터.xlsx    7142
210923_170710_384g(80%)(25도) without 히터.xlsx     5618
210929_204750_336g(70%)(25도) without 히터.xlsx     4335
210929_170610_288g(60%)(25도) without 히터.xlsx     1299
210924_094830_432g(90%)(25도) without 히터.xlsx      577
Name: filename, dtype: int64

In [114]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18971 entries, 0 to 18970
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Series_Date            18971 non-null  object
 1   Series_Time            18971 non-null  object
 2   lp1_MIN                18971 non-null  object
 3   lp1_MAX                18971 non-null  object
 4   hp1_MIN                18971 non-null  object
 5   hp1_MAX                18971 non-null  object
 6   hp2_MIN                18971 non-null  object
 7   hp2_MAX                18971 non-null  object
 8   comp in_MIN            18971 non-null  object
 9   comp in_MAX            18971 non-null  object
 10  comp out_MIN           18971 non-null  object
 11  comp out_MAX           18971 non-null  object
 12  cond in_MIN            18971 non-null  object
 13  cond in_MAX            18971 non-null  object
 14  cond out_MIN           18971 non-null  object
 15  cond out_MAX           18971 non-null  object
 16  Exp in_MIN             18971 non-null  object
 17  Exp in_MAX             18971 non-null  object
 18  Exp out_MIN            18971 non-null  object
 19  Exp out_MAX            18971 non-null  object
 20  evap in_MIN            18971 non-null  object
 21  evap in_MAX            18971 non-null  object
 22  evap out1_MIN          18971 non-null  object
 23  evap out1_MAX          18971 non-null  object
 24  evap out2_MIN          18971 non-null  object
 25  evap out2_MAX          18971 non-null  object
 26  sol out_MIN            18971 non-null  object
 27  sol out_MAX            18971 non-null  object
 28  inside temp_MIN        18971 non-null  object
 29  inside temp_MAX        18971 non-null  object
 30  center_MIN             18971 non-null  object
 31  center_MAX             18971 non-null  object
 32  outside temp_MIN       18971 non-null  object
 33  outside temp_MAX       18971 non-null  object
 34  eva air in temp_MIN    18971 non-null  object
 35  eva air in temp_MAX    18971 non-null  object
 36  eva air out temp_MIN   18971 non-null  object
 37  eva air out temp_MAX   18971 non-null  object
 38  cond air in temp_MIN   18971 non-null  object
 39  cond air in temp_MAX   18971 non-null  object
 40  cond air out temp_MIN  18971 non-null  object
 41  cond air out temp_MAX  18971 non-null  object
 42  filename               18971 non-null  object
dtypes: object(43)
memory usage: 6.2+ MB

In [115]:
# 결측치 출력

df_total.isnull().sum().sort_values(ascending=True)

Series_Date              0
evap out1_MAX            0
evap out2_MIN            0
evap out2_MAX            0
sol out_MIN              0
sol out_MAX              0
inside temp_MIN          0
inside temp_MAX          0
center_MIN               0
evap out1_MIN            0
center_MAX               0
outside temp_MAX         0
eva air in temp_MIN      0
eva air in temp_MAX      0
eva air out temp_MIN     0
eva air out temp_MAX     0
cond air in temp_MIN     0
cond air in temp_MAX     0
cond air out temp_MIN    0
outside temp_MIN         0
cond air out temp_MAX    0
evap in_MAX              0
Exp out_MAX              0
Series_Time              0
lp1_MIN                  0
lp1_MAX                  0
hp1_MIN                  0
hp1_MAX                  0
hp2_MIN                  0
hp2_MAX                  0
comp in_MIN              0
evap in_MIN              0
comp in_MAX              0
comp out_MAX             0
cond in_MIN              0
cond in_MAX              0
cond out_MIN             0
cond out_MAX             0
Exp in_MIN               0
Exp in_MAX               0
Exp out_MIN              0
comp out_MIN             0
filename                 0
dtype: int64

In [116]:

# 결측치 행 출력

df_total[df_total.isnull().any(axis=1)]

Empty DataFrame
Columns: [Series_Date, Series_Time, lp1_MIN, lp1_MAX, hp1_MIN, hp1_MAX, hp2_MIN, hp2_MAX, comp in_MIN, comp in_MAX, comp out_MIN, comp out_MAX, cond in_MIN, cond in_MAX, cond out_MIN, cond out_MAX, Exp in_MIN, Exp in_MAX, Exp out_MIN, Exp out_MAX, evap in_MIN, evap in_MAX, evap out1_MIN, evap out1_MAX, evap out2_MIN, evap out2_MAX, sol out_MIN, sol out_MAX, inside temp_MIN, inside temp_MAX, center_MIN, center_MAX, outside temp_MIN, outside temp_MAX, eva air in temp_MIN, eva air in temp_MAX, eva air out temp_MIN, eva air out temp_MAX, cond air in temp_MIN, cond air in temp_MAX, cond air out temp_MIN, cond air out temp_MAX, filename]
Index: []

[0 rows x 43 columns]

In [16]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18971 entries, 0 to 18970
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Series_Date            18971 non-null  object
 1   Series_Time            18971 non-null  object
 2   lp1_MIN                18971 non-null  object
 3   lp1_MAX                18971 non-null  object
 4   hp1_MIN                18971 non-null  object
 5   hp1_MAX                18971 non-null  object
 6   hp2_MIN                18971 non-null  object
 7   hp2_MAX                18971 non-null  object
 8   comp in_MIN            18971 non-null  object
 9   comp in_MAX            18971 non-null  object
 10  comp out_MIN           18971 non-null  object
 11  comp out_MAX           18971 non-null  object
 12  cond in_MIN            18971 non-null  object
 13  cond in_MAX            18971 non-null  object
 14  cond out_MIN           18971 non-null  object
 15  cond out_MAX           18971 non-null  object
 16  Exp in_MIN             18971 non-null  object
 17  Exp in_MAX             18971 non-null  object
 18  Exp out_MIN            18971 non-null  object
 19  Exp out_MAX            18971 non-null  object
 20  evap in_MIN            18971 non-null  object
 21  evap in_MAX            18971 non-null  object
 22  evap out1_MIN          18971 non-null  object
 23  evap out1_MAX          18971 non-null  object
 24  evap out2_MIN          18971 non-null  object
 25  evap out2_MAX          18971 non-null  object
 26  sol out_MIN            18971 non-null  object
 27  sol out_MAX            18971 non-null  object
 28  inside temp_MIN        18971 non-null  object
 29  inside temp_MAX        18971 non-null  object
 30  center_MIN             18971 non-null  object
 31  center_MAX             18971 non-null  object
 32  outside temp_MIN       18971 non-null  object
 33  outside temp_MAX       18971 non-null  object
 34  eva air in temp_MIN    18971 non-null  object
 35  eva air in temp_MAX    18971 non-null  object
 36  eva air out temp_MIN   18971 non-null  object
 37  eva air out temp_MAX   18971 non-null  object
 38  cond air in temp_MIN   18971 non-null  object
 39  cond air in temp_MAX   18971 non-null  object
 40  cond air out temp_MIN  18971 non-null  object
 41  cond air out temp_MAX  18971 non-null  object
 42  filename               18971 non-null  object
dtypes: object(43)
memory usage: 6.2+ MB

In [20]:
# 날짜 + 시간 컬럼 생성
df_total['Date_Time'] = df_total['Series_Date'] + ' ' + df_total['Series_Time']

In [21]:
# Date_Time 변수 format 변경
df_total['Date_Time'] = pd.to_datetime(df_total['Date_Time'], format='%Y/%m/%d %H:%M:%S')

# Time 변수 시간, 분, 초 나오도록 변경
df_total['Series_Time'] = df_total['Date_Time'].dt.time

# Date 변수 format 변경
df_total['Series_Date'] = pd.to_datetime(df_total['Series_Date'], format='%Y/%m/%d')

In [23]:
df_total['filename'].value_counts()

210927_122440_480g(100%)(25도) without 히터.xlsx    7142
210923_170710_384g(80%)(25도) without 히터.xlsx     5618
210929_204750_336g(70%)(25도) without 히터.xlsx     4335
210929_170610_288g(60%)(25도) without 히터.xlsx     1299
210924_094830_432g(90%)(25도) without 히터.xlsx      577
Name: filename, dtype: int64

In [24]:
# 210927_122440_480g(100%)(25도) without 히터.xlsx   => OFF
# 210923_170710_384g(80%)(25도) without 히터.xlsx    => 80% 
# 210929_204750_336g(70%)(25도) without 히터.xlsx    => 70%  
# 210929_170610_288g(60%)(25도) without 히터.xlsx    => 60%
# 210924_094830_432g(90%)(25도) without 히터.xlsx    => 90%

df_total['Type'] = np.where(df_total['filename'].str.contains('100%'), 'OFF',
                            np.where(df_total['filename'].str.contains('80%'), '80%',
                                        np.where(df_total['filename'].str.contains('70%'), '70%',
                                                    np.where(df_total['filename'].str.contains('60%'), '60%', '90%'))))

In [25]:
# df_total['Type']별 1부터 1씩 증가하는 숫자 생성
df_total['Type_num'] = df_total.groupby('Type').cumcount()+1

In [39]:
drop_col = [ 'T8_1-T7_MIN', 'T8_1-T7_MAX', 'T8_2-T7_MIN', 'T8_2-T7_MAX']

In [40]:
df_total.columns = ['Series_Date', 'Series_Time', 'T1_lp1_MIN', 'T1_lp1_MAX', 'T2_hp1_MIN',
       'T2_hp1_MAX', 'T3_hp2_MIN', 'T3_hp2_MAX', 'T1_comp in_MIN', 'T1_comp in_MAX',
       'T2_comp out_MIN', 'T2_comp out_MAX', 'T3_cond in_MIN', 'T3_cond in_MAX',
       'T4_cond out_MIN', 'T4_cond out_MAX', 'T5_Exp in_MIN', 'T5_Exp in_MAX',
       'T6_Exp out_MIN', 'T6_Exp out_MAX', 'T7_evap in_MIN', 'T7_evap in_MAX',
       'T8_evap out1_MIN', 'T8_evap out1_MAX', 'T8_evap out2_MIN', 'T8_evap out2_MAX',
       'T10_sol out_MIN', 'T10_sol out_MAX', 'inside temp_MIN', 'inside temp_MAX',
       'center_MIN', 'center_MAX', 'outside temp_MIN', 'outside temp_MAX',
       'eva air in temp_MIN', 'eva air in temp_MAX', 'eva air out temp_MIN',
       'eva air out temp_MAX', 'cond air in temp_MIN', 'cond air in temp_MAX',
       'cond air out temp_MIN', 'cond air out temp_MAX', 'filename',
       'Date_Time', 'Type', 'Type_num']

In [41]:
df_total.columns

Index(['Series_Date', 'Series_Time', 'T1_lp1_MIN', 'T1_lp1_MAX', 'T2_hp1_MIN',
       'T2_hp1_MAX', 'T3_hp2_MIN', 'T3_hp2_MAX', 'T1_comp in_MIN',
       'T1_comp in_MAX', 'T2_comp out_MIN', 'T2_comp out_MAX',
       'T3_cond in_MIN', 'T3_cond in_MAX', 'T4_cond out_MIN',
       'T4_cond out_MAX', 'T5_Exp in_MIN', 'T5_Exp in_MAX', 'T6_Exp out_MIN',
       'T6_Exp out_MAX', 'T7_evap in_MIN', 'T7_evap in_MAX',
       'T8_evap out1_MIN', 'T8_evap out1_MAX', 'T8_evap out2_MIN',
       'T8_evap out2_MAX', 'T10_sol out_MIN', 'T10_sol out_MAX',
       'inside temp_MIN', 'inside temp_MAX', 'center_MIN', 'center_MAX',
       'outside temp_MIN', 'outside temp_MAX', 'eva air in temp_MIN',
       'eva air in temp_MAX', 'eva air out temp_MIN', 'eva air out temp_MAX',
       'cond air in temp_MIN', 'cond air in temp_MAX', 'cond air out temp_MIN',
       'cond air out temp_MAX', 'filename', 'Date_Time', 'Type', 'Type_num'],
      dtype='object')

In [42]:
df_total['T8_1-T7_MIN'] =  df_total['T8_evap out1_MIN'] - df_total['T7_evap in_MIN']
df_total['T8_1-T7_MAX'] =  df_total['T8_evap out1_MAX'] - df_total['T7_evap in_MAX']
df_total['T8_2-T7_MIN'] =  df_total['T8_evap out2_MIN'] - df_total['T7_evap in_MIN']
df_total['T8_2-T7_MAX'] =  df_total['T8_evap out2_MAX'] - df_total['T7_evap in_MAX']

In [43]:
df_total['Heat_ON'] = np.where(df_total['Type'] == 'OFF', "Off", 
                               np.where(df_total['Type'] == '80%', 'Low(80%)',
                                        np.where(df_total['Type'] == '70%', 'Low(70%)',
                                                        np.where(df_total['Type'] == '60%', 'Low(60%)', 'Low(90%)'))))

In [44]:
df_total['Heat_ON'].value_counts()

Off         7142
Low(80%)    5618
Low(70%)    4335
Low(60%)    1299
Low(90%)     577
Name: Heat_ON, dtype: int64

In [45]:
# df_total 엑셀로 저장
df_total.to_excel('df_total_low.xlsx', index=False)